.SidebarItem {
	height: 32px;
	display: flex;
	align-items: center;
	gap: 14px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;

	color: #FFFFFF;
	cursor: pointer;
}